<div class="accordion-item">
  <h2 class="accordion-header" id="heading{{idx()}}">
    <button
      class="accordion-button"
      type="button"
      aria-expanded="true"
      >
      {{ recipe().name }}
    </button>
  </h2>
  <div
    id="collapse{{idx()}}"
    class="accordion-collapse collapse show">
    <div class="accordion-body">
      <ul class="list-group">
        <li class="list-group-item">
          {{ recipe().base.name }}
        </li>
        <li class="list-group-item">
          {{ recipe().main.name }}
        </li>
        <li class="list-group-item">
          {{ recipe().sub.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
