<div class="container mt-5 text-center">
  <h2 class="text-center text-primary">플래티넘 취득 과정</h2>

  <!-- 진행 상태 Progress Bar -->
<!--  <div class="progress mt-4" style="height: 25px;">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%;"
         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% 완료
    </div>
  </div>-->

  <!-- 타임라인 -->
  <ul class="timeline mt-5">
    <li class="timeline-item">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">1단계: 사전준비</h5>
          <p class="card-text">설정에서 문자 속도 : 빠름, 대사 스킵 : 전부로 수정해 주세요</p>
        </div>
      </div>
    </li>
    <li class="timeline-item">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">2단계: 스토리 2회차 진행</h5>
          <p class="card-text">스토리 메뉴를 참고하여 메인 스토리를 2회 진행해주세요.</p>
          <p class="card-text">진행하면서 25번 커피 버리기와 메뉴 틀리게 나가기, 음악 전부 재생도 진행해주세요</p>
        </div>
      </div>
    </li>
    <li class="timeline-item">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">3단계: 모든 레시피 얻기</h5>
          <p class="card-text">무한모드의 자유 모드로 들어가서 완성되지 않은 레시피들을 전부 만들어주세요</p>
        </div>
      </div>
    </li>
    <li class="timeline-item">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">4단계: 라떼 아트 1시간 소요</h5>
          <p class="card-text">라떼류를 만들때 라떄아트를 진행할 수 있습니다. 한시간 켜놓고 기다려주세요</p>
          <p class="card-text">손님에게 제공하기를 클릭해야 트로피가 따집니다.</p>
        </div>
      </div>
    </li>
    <li class="timeline-item">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">5단계: 무한모드</h5>
          <p class="card-text">무한 도전 모드를 챌린지를 참고하여 진행해주세요.</p>
          <p class="card-text">20회차 정도까지는 명확한 레시피가 나오는데 그 후에 진상 손님들이 많아지기 때문에 챌린지 모드 기능을 참고해주세요</p>
        </div>
      </div>
    </li>
  </ul>
</div>
