<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Coffee talk EP2 플레티넘 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ep2">Home</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/ep2/story">스토리</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/ep2/recipe">전체 레시피</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/ep2/challenge">챌린지</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/ep2/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
